*.o
*.a
.depends.mk
ID
src/buildmap
src/buildmap_osm
src/buildplace
src/buildus
src/dumpmap
src/gtk2/gtkroadgps
src/gtk2/gtkroadmap
src/gtk2/libgtkroadmap.a
src/qt/.depends.mk
src/qt4/.depends.mk
src/sunrise
src/usermanual.html
src/rdmfriends
src/rdmghost
src/rdmkismet
src/rdmtrace
src/rdmxchange
